*{
  font-family: 'PT Sans', sans-serif;
}

/* HEADER */
header {
  position: fixed;
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  border: 1px solid black;
  height: 64px;
  box-sizing: border-box;
  background-color: #fff;
}

.header {
   color: #fff;
   margin: 5px;
   font-size: 20px;
   font-weight: 700;
}

.logo {
  flex-grow: 1;
  text-align: center;
  font-size: 28px;
  color: #bd081c;
}

.searchbar{
  flex-grow: 5;
}
.searchbar .mysearch{
  width: 100%;
  font-size: 20px;
  border-radius: 4px;
  box-sizing: border-box;
  height: 40px;
  color: #555;
  background-color: #f4f4f4;
  box-shadow: none;
  box-sizing: border-box;
  border: 0;
}

/* NAV */
.nav {
  flex-grow: 6;
  flex-flow: row nowrap;
}

.navmenu{
  display: flex;
}
.navmenu li {
  list-style: none;
  flex-grow: 1;
}

.navmenu li a {
  text-decoration: none;
}

/* CONTENT */

 .wrapper {
   /* width: 90%;
   display: flex;
   align-items: flex-start;
   padding: 0 5%;
   flex-direction: row; */
   width: 90%;
   margin: 0 5%;
   height: 1000px;
   /* background-color: black; */
   display: flex;
   justify-content: space-around;
   flex-flow: row wrap;
   align-items: stretch;
   padding-top: 90px;
 }

 .wrapper > section {
   max-width: 25%;
   /* background-color: grey; */
   /* border: 1px solid red; */
   display: flex;
   flex-flow: column nowrap;
 }

article {
  margin: 10px;
}

article img{
  width: 100%;
  border-radius: 6px;

}

article i {
  float: right;
}
